/* custom theme + Bootstrap resets */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.bg-purple { 
   background-color:var(--purple);
}
.text-purple,.text-purple:hover { 
   color:var(--purple);
}    

body {
    font-family: 'Roboto Condensed', sans-serif;
}
.MediaBG{
	width: 100%;
	height: 100%;
	background: url("../images/Media_BG.jpg") top right no-repeat ;
	background-color: rgba(255,255,255,0.8);
	background-size: cover;
	background-blend-mode: lighten;
}

.InformationBG{
	width: 100%;
	height: 100%;
	background: url("../images/InformationBG.jpg") top right no-repeat ;
	background-color: rgba(255,255,255,0.8);
	background-size: cover;
	background-blend-mode: lighten;
}

.bold{
	font-weight: bold;
}

.indent{
	text-indent: 30px;
	text-align: justify;
}

.center{
	text-align: center;
}

.scrollable {
  max-height: 2000px;
  overflow: auto; }
